<div class="min-h-screen">
    <h1>Pagina Carrinho</h1>
    <div data-controller="cart">
        <div class="mt-4 font-medium "id="total">
            <button class="mt-6 py-2 px-4 bg-gray-500 hover:bg-gray-600 rounded text-white" data-action="click->cart#checkout">Checkout</button>
            <button class="py-2 px-4 bg-gray-500 hover:bg-gray-600 rounded text-white" data-action="click->cart#clear">Limpar Carrinho</button>
        </div>
    </div>
</div>